@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* { margin: 0; padding: 0; box-sizing: border-box; background-color: #282424c4; }

body { font-family: "Poppins", sans-serif; }

.tab {
  height: 100%;
  background-color: #282424c4;
  display: flex; justify-content: center;
  align-items: center;
}
img{
  width: 100%;
  background: #696e73
}
.tab-container {
  max-width: 1200px; height: 600px;
  margin: 0 auto;
}

.tab-nav {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  list-style: none;
  border-bottom: 1px solid #fff;
  position: relative;
}

.tab-nav li {
  padding: 20px 30px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #c6d1fd;
}

.tab-nav li.active {
  color: #eee;
  transform: scale(1.4);
}

.tab-nav li:not(:last-child) {
  margin-right: 70px;
}

.tab-body {
    margin-top: 100px;
    display: none;
    align-items: center;
    animation: fade 0.8s;
  }

  .tab-body.active { display: flex; }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .tab-body .tab-col-left,
  .tab-body .tab-col-right {
    flex: 1;
    margin: 2px 19px;
  }

  .tab-body .tab-col-right h2 {
    font-size: 40px;
    color: #f5f6f9;
    letter-spacing: 1px;
  }

  .tab-body .tab-col-right p {
    line-height: 1.8;
    margin: 20px 0 60px;
    color: #cccaca;
  }

  .tab-body .tab-col-right .btn {
    padding: 15px 45px;
    background-color: #b7b7b9;
    color: #131212;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 12px;
  }
